:root {
  --pageBgColor: #171717;
  --cardBgColor: #262626;
  --linkBgColor: #404040;
  --linkBgHoverColor: #525252;
  --textColor: white;
  --accentTextColor: #a3a3a3;
  --textLinkColor: #60a5fa;
}

body,
h1,
h2,
p {
  margin: 0;
}

body {
  height: 100%;
  padding: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5rem;
  color: var(--textColor);
  background-color: var(--pageBgColor);
}

.card {
  display: flex;
  overflow: hidden;
  border-radius: 0.75rem;
  background-color: var(--cardBgColor);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.content {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  max-height: 15rem;
  width: auto;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: normal;
  color: var(--accentTextColor);
}

a {
  text-decoration: none;
}

.company-link {
  color: var(--textLinkColor);
}

.company-link:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
}

.company {
  display: inline-block;
}

.contact-link {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  color: var(--textColor);
  background-color: var(--linkBgColor);
}

.contact-link:hover {
  background-color: var(--linkBgHoverColor);
}

@media only screen and (max-width: 640px) {
  .card {
    width: 22.5rem;
    padding: 1.5rem;
    box-sizing: border-box;
    flex-direction: column;
    gap: 1.5rem;
  }

  img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 100%;
  }

  .content {
    padding: 0;
    gap: 2.5rem;
    align-items: center;
    text-align: center;
  }

  .footer {
    justify-content: center;
  }
}
